@{
    ViewData["Title"] = "Escuela de Aviación Civil";
}

<div class="banner">
    <h1>@ViewData["Title"]</h1>
</div>

@* <div class="eda-iframe-container" style="width: 100%; height: 600px; margin: 20px 0;">
    <iframe src="https://eda.sanluis.gov.ar/" style="width: 100%; height: 100%; border: none;" title="EDA San Luis">
    </iframe>
</div>

<div class="formularios-container">
    <div class="formulario-section">
        <h2>Formulario de Inscripción - Piloto Privado</h2>
        <div class="formulario-iframe">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdxxxxxxxxxxxxxxx/viewform?embedded=true" width="100%"
                height="500" frameborder="0" marginheight="0" marginwidth="0">
                Cargando formulario...
            </iframe>
        </div>
    </div>

    <div class="formulario-section">
        <h2>Formulario de Inscripción - Piloto Comercial</h2>
        <div class="formulario-iframe">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdxxxxxxxxxxxxxxx/viewform?embedded=true" width="100%"
                height="500" frameborder="0" marginheight="0" marginwidth="0">
                Cargando formulario...
            </iframe>
        </div>
    </div>
</div> *@